astroid==2.9.3
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
colorlog==6.6.0
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
mcdreforged==2.3.1
parse==1.19.0
platformdirs==2.4.1
prompt-toolkit==3.0.26
psutil==5.9.0
pylint==2.12.2
requests==2.26.0
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
wrapt==1.13.3
yapf==0.32.0
